/* @import here */

:root {
    /*Example: --bg-color: #faebd7; */

  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: var(--fs-reg);
    color: var(--fc-std);
  }